#hangman-menu {
    position: absolute;
    left: 1em;
    top: 1em;

    overflow: hidden;
    z-index: 10;
}

#hangman-menu .toggler {
    color: white;
    cursor: pointer;
    font-size: 2em;
}

#hangman-menu .content {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    padding-bottom: 15px;

    background-color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 4px;

    overflow: hidden;
    transform-origin: left top;
    transform: scale(0);
    transition: all .3s ease-in-out;
}

#hangman-menu:hover .content{
    transform: scale(1);
}

#hangman-menu .row {
    margin-top: 1em;
}

#hangman-menu button {
    white-space: nowrap;
}

#hangman-menu button i {
    vertical-align: middle;
    margin-right: 4px;
}

#hangman-menu button span {
    vertical-align: middle;
}